@import "./../../../presentation/styles/global.scss";
@import "./../../../presentation/styles/global-colors.scss";


.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 50vw;
    transition: width 0.3s ease-in-out;

    background-color: $bg;
    color: $white;

    @media (max-width: 768px) {
      width: 90vw;
    }

    @media (min-width: 1440px) {
      width: 25vw;
    }

    h2 {
      color: $primary-light;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
    }

    .signup {
      margin-top: 1rem;
      cursor: pointer;

      text-align: center;

      color: $primary-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
