@import "./../../../presentation/styles/global.scss";
@import "./../../../presentation/styles/global-colors.scss";


.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 50vw;

    background-color: $bg;
    color: $white;

    h2 {
      color: $primary-light;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
    }

    .button-submit {      
      background-color: $primary-dark;
      border-color: $primary-dark;
      border: 0.15rem solid $color-button-off-dark;
      border-radius: 0.85rem;
      
      min-width: fit-content;
      margin-top: 1rem;
      padding: 0.3rem 2rem;
      
      cursor: pointer;
      color: $white;
      font-size: 1rem;
      opacity: 0.8;
    
      &:hover {
        opacity: 1;
        border-color: $color-button-on-dark;
      }
    }

    .link {
      margin-top: 1rem;
      cursor: pointer;

      text-align: center;

      color: $primary-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
