$white: #ffff;
$black: #000;
$bg: #1e1847;
$primary-light: #414f9b;
$primary-dark: #2b275f;
$color-font-light: #8798f5;
$color-font-dark: $primary-dark;
$color-button-on-dark: #425cf0;
$color-button-off-dark: #283475;
$color-button-disabled-dark: #474b63;
$color-spinner-dark: #4da8dd;

$color-success-primary-dark: #26b16b;
$color-error-primary-dark: #941515;
